# Vercel Environment Variables
# Diese Werte in Vercel Dashboard unter Settings → Environment Variables eintragen

GOOGLE_PLACES_KEY=AIzaSyAUbWDLdKXpOKB0Dy-NZPZ4UHne_XwkEhg
HUBSPOT_TOKEN=CiRldTEtYzBmZS1jNjQyLTRjZDl0GVlZi1kOTFhZGQxNmE4ZDAQocfIRhjbh9EqKhkABeaRgn2tNy4wkhJCZpZ18DVB3sLPSebuSgNldTE
BREVO_KEY=xkeysib-0365162db8b4f29b871c7b022421d26abf4151af3cee
HUBSPOT_PORTAL=147989409
